body{
  background-color:purple;
  color:black;
  font-family;
}
h1{
  font-size:55px;
  color:blue
}
h2{
  font-size: 35px
}
p{
  color:green
}
img{
  height: 200px;
  width: 200px;
  transform:rotate(270deg);
}
.right{
  width:300px;
  float: right;
  background-color: purple;
}
.left{
  width:700px;
  float: left;
  background-color: yellow
}
.container{
  width:1000px;
  margin:auto;
}
.potato{
  color:orange;
}
